/* footer.css */

.footer {
    background-color: #1a1a1a;
    padding: 10px 0; /* İnceltilmiş padding */
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 12px; /* Daha ince görünüm için font küçültüldü */
  }
  
  .social-icons {
    margin-top: 10px; /* Daha ince görünüm için küçültüldü */
  }
  
  .icon {
    color: #fff;
    margin: 0 8px; /* İkonlar arasındaki boşluk azaltıldı */
    font-size: 18px; /* İkon boyutu küçültüldü */
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #ff6347; /* Hoş bir hover rengi */
  }
  